.ricardopalma {
    display: block;
    margin-left: auto;
    margin-top: 45px;
    margin-right: 15px;
    height: 35px;
    width: 65px;
}

.alertamiraflores {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    height: 45px;
    width: 293px;
}

.mirafloresblanco {
    margin-top: 20px;
    margin-left: 25px;
    height: 105px;
    width: 185px;
}

.container-menu {
    padding-top: 24px;
    padding-left: 25px;
    color: #FFF;
    font-family: Noteworthy;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
}

.correoelectronico {
    padding-left: 25px;
    padding-top: 5px;
    color: #FFF;
    font-family: Noteworthy;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
}

.inputcorreo {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    height: 50px;
    width: 88%;
    border: 1px solid #fff;
    font-family: Noteworthy;
}

.contrasena {
    padding-top: 5px;
    padding-left: 25px;
    color: #FFF;
    font-family: Noteworthy;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
}

.inputcontrasena {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    height: 50px;
    width: 88%;
    border: 1px solid #fff;
    font-family: Noteworthy;
}

.olvidaste {
    padding-right: 15%;
    text-align: right;
    color: #FFF;
    font-family: Noteworthy;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
}

.login {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    height: 53px;
    width: 85%;
    color: #FFF;
    font-family: Noteworthy;
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
}

.crearcuenta {
    margin-top: 10px;
    height: 25px;
    color: #FFF;
    font-family: Noteworthy;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
}

.loginwithgoogle {
    height: 25px;
    color: #FFF;
    font-family: Noteworthy;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
}