.nueva {
    margin-top: 45px;
    font-family: Noteworthy;
    text-align: center;
    height: 40px;
}

.buttons {
    margin-top: 45px;
    padding-right: 10px;
    height: 32px;
    font-family: Noteworthy;
}

.ricardopalma {
    margin-top: 45px;
    position: relative;
    margin-right: auto;
    padding-left: 10px;
    float: right;
    display: block;
    height: 35px;
    width: 75px;
}

.iconos {
    margin-left: 30px;
    width: 120px;
    height: 170px;
}

.imagen {
    width: 120px;
    height: 140px;
}

.texto {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 30px;
    font-family: Noteworthy;
}