<ion-header>
    <ion-buttons slot="start">
        <ion-back-button text="Regresar" defaultHref="/tabs/tab1" class="ricardopalma"></ion-back-button>
        <ion-title class="nueva">Funcionarios</ion-title>
        <img class="buttons" src="assets/mirafloresnormal.png">
    </ion-buttons>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Alcalde de Miraflores</ion-card-subtitle>
            <ion-card-title>Luis Molina</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            El Alcalde de Miraflores Luis Molina señaló que la nueva visión de Lima requiere de una reforma constitucional que acabe con el actual laberinto electoral y concentre en una sola autoridad o Alcalde Mayor el desarrollo de la metrópoli.
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-item>
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-label>GERENTE MUNICIPAL</ion-label>
            <ion-button fill="outline" slot="end">Ver</ion-button>
        </ion-item>

        <ion-card-content>Oscar Remigio Lozan Luyo</ion-card-content>
        <ion-card-content>oscar.lozan@miraflores.gob.pe</ion-card-content>
    </ion-card>

    <ion-card>
        <ion-item>
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-label>SECRETARIA GENERAL</ion-label>
            <ion-button fill="outline" slot="end">Ver</ion-button>
        </ion-item>

        <ion-card-content>Karina Natividad Vargas Terrones</ion-card-content>
        <ion-card-content>karina.vargas@miraflores.gob.pe</ion-card-content>
    </ion-card>

    <ion-card>
        <ion-item>
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-label>GERENTE DE ADMINISTRACIÓN TRIBUTARIA</ion-label>
            <ion-button fill="outline" slot="end">Ver</ion-button>
        </ion-item>

        <ion-card-content>Karina Natividad Vargas Terrones</ion-card-content>
        <ion-card-content>pilar.caballero@miraflores.gob.pe</ion-card-content>
    </ion-card>

    <ion-card>
        <ion-item>
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-label>GERENTE DE SISTEMAS Y TI</ion-label>
            <ion-button fill="outline" slot="end">Ver</ion-button>
        </ion-item>

        <ion-card-content>David Fernando Albujar Mesta</ion-card-content>
        <ion-card-content>david.albujar@miraflores.gob.pe</ion-card-content>
    </ion-card>
</ion-content>