.nueva {
    margin-top: 45px;
    font-family: Noteworthy;
    text-align: center;
    height: 40px;
}

.buttons {
    margin-top: 45px;
    padding-right: 10px;
    height: 32px;
    font-family: Noteworthy;
}

.ricardopalma {
    margin-top: 45px;
    position: relative;
    margin-right: 20px;
    margin-right: auto;
    padding-left: 10px;
    float: right;
    display: block;
    font-family: Noteworthy;
    height: 35px;
}